$black: #000000;
$dark: #232323;
$lightBlack: #0d0c0c;
$white: #ffffff;
$light: #fffbeb;
$offWhite: #f2f2f2;
$zinc: #f0eae7;
$gray: #bdbdbd;
$lightGray: #e5e5e5;
$lightBlue: #61dafb; 
$fontSizeXXS: 1rem; // 16px
$fontSizeXS: 1.125rem; // 18px
$fontSizeSM: 1.5rem; // 24px
$fontSizeMD: 1.75rem; // 28px
$fontSizeLG: 2rem; // 32px
